<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="app-main">
        <http:listener config-ref="app-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="app-config" />
		<error-handler ref="error-handling-apikit" />
    </flow>
    <flow name="get:\ping:app-config">
        <flow-ref doc:name="ping-test-Sub_Flow" doc:id="7c7be671-1601-4034-8038-dc4849207dcb" name="ping-testSub_Flow"/>
    </flow>
    <flow name="post:\policyCreation:app-config">
		
		<flow-ref doc:name="policyCreationSub_Flow" doc:id="0e436f29-61a9-43b1-8005-0478229f856f" name="policyCreationSub_Flow"/>
    </flow>
    <flow name="post:\quotationCreation:application\json:app-config">
		<flow-ref doc:name="quotationCreationSub_Flow" doc:id="aaf94bc0-1684-4cd5-a89a-6e4a0172d89c" name="quotationCreationSub_Flow"/>
    </flow>
</mule>
